/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "https://fonts.withgoogle.com/tilt"
    font-weight: normal;
}

html {background-color:pink;
    
    } 
    

 